
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Bokeht</title>
</head>
<body>
    <h1>Bokeh Starter Graph</h1>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit">Submit</button>
    </form>
  
    {{script|safe}}
    {{div|safe}}
   <div></div><!--Here is where the plot will be shown, since we called it div in
    script,div=components(plot)-->
   
</body>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.3.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.2.3.min.js" crossorigin="anonymous"></script>
   
</html> 